{
  presets: ['env', 'react', 'stage-0'],
  plugins: [
    [
      'transform-runtime',
      {
        helpers: false,
        polyfill: false,
        regenerator: true
      }
    ],
    'transform-decorators-legacy',
    [
      'import',
      {
        libraryName: 'antd',
        style: true
      }
    ],
    // 'transform-react-constant-elements',
    'transform-react-inline-elements',
    'transform-react-remove-prop-types',
    'lodash',
    [
      'transform-imports',
      {
        antdj: {
          transform: 'antd/lib/${member}',
          kebabCase: true,
          preventFullImport: true
        },
        'date-fns': {
          transform: 'date-fns/${member}',
          preventFullImport: true,
          camelCase: true
        }
      }
    ]
  ]
}
